# If POSTGRES_USER is not specified, then the default user of postgres will be used.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
# If POSTGRES_DB is not specified, then the value of POSTGRES_USER will be used.
POSTGRES_DB=postgres
#
# PGDATA default is /var/lib/postgresql/data,
# but if e data volume you're using is a fs mountpoint,
# Postgres initdb recommends a subdirectory be created to contain the data,
# for example /var/lib/postgresql/data/pgdata.
PGDATA=/var/lib/postgresql/data/pgdata

# For more infomation see:
# https://www.postgresql.org/docs/current/static/ddl-schemas.html
# https://wiki.postgresql.org/wiki/Database_Schema_Recommendations_for_an_Application
APP_NAME=app
APP_PASSWORD=apppassword
